body{
  background: lightgray;
}


h1{
  margin-bottom: 20px;
  color: #075454;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 2em;
  letter-spacing: -2px;
  border-bottom: #075454 2px solid;
  padding: 10px 20px 10px 20px;
}


nav{
  background: #075454;
  font-size: 20px;
}

.container{
  margin-bottom: 30px;
}