.info-table > td{
  font-size: 18px;
}

.info-table td:first-child{
  background: darkcyan;
  font-size: 20px;
  color: white;
  width: 40%;
}


.form-table tr{
  border: none;
}

.form-table td {
  font-size: 18px;
}

.form-table td:first-child {
  font-size: 20px;
}

.form-error{
  color: darkred;
}