table{
    width: 100%;
}

thead{
    background: darkcyan;
}

thead a{
    color: white;
    font-size: 18px;
}

thead a:hover{
    color: darkkhaki;
}

tbody tr:hover {
    background: #cccccc;
}

form label {
    margin-left: 20px;
    margin-right: 5px;
}

form input{
    margin-left: 5px;
}

.pagination a{
    color: white;
}

.pagination a:hover{
    color: darkkhaki;
}

.pagination {
    margin: 20px;
    padding: 5px;
}

.next , .previous{
    margin: 0 20px;
}

.pagination .active a{
    color: darkkhaki;
}

.pagination li {
    margin: 0 10px;
}