
<nav class="navbar navbar-dark navbar-expand-md">
    <span class="navbar-brand mb-0 h1">Car Rental</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems"
            area-controls="navbarItems" aria-expanded="false" area-lable="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarItems">
        <ul class="navbar-nav">
{% with url_name=request.resolver_match.url_name %}
            <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
                <a class="nav-link" href="{% url 'car_rental:home' %}">Home</a>
            </li>
    {% if user.is_staff %}
            <li class="nav-item {% if url_name == 'cars_staff' %}active{% endif %}">
                <a class="nav-link" href="{% url 'car_rental:cars_staff' %}">Cars</a>
            </li>
    {% else %}
            <li class="nav-item {% if url_name == 'cars' %}active{% endif %}">
                <a class="nav-link" href="{% url 'car_rental:cars' %}">Cars</a>
            </li>
    {% endif %}

{% if not user.is_anonymous %}
            <li class="nav-item {% if url_name == 'profile' %}active{% endif %}">
                <a class="nav-link" href="{% url 'car_rental:profile' %}">Profile</a>
            </li>

    {% if user.is_staff %}
        {% if perms.car_rental.can_answer_request %}
            <li class="nav-item {% if url_name == 'requests_staff' %}active{% endif %}">
                <a class="nav-link" href="{% url 'car_rental:requests_staff' %}">Requests</a>
            </li>
        {% endif %}
    {% else %}
            <li class="nav-item {% if url_name == 'requests_renter' %}active{% endif %}">
                <a class="nav-link" href="{% url 'car_rental:requests_renter' %}">Requests</a>
            </li>
    {% endif %}
        {% if perms.car_rental.can_access_staff %}
        <li class="nav-item {% if url_name == 'staff'%}active{% endif %}">
            <a class="nav-link" href="{% url 'car_rental:staff' %}">Staff</a>
        </li>
        <li class="nav-item {% if url_name == 'add_staff'%}active{% endif %}">
            <a class="nav-link" href="{% url 'car_rental:add_staff' %}">Add Staff</a>
        </li>
        {% endif %}
        {% if perms.car_rental.can_access_car %}
        <li class="nav-item {% if url_name == 'add_car' %}active{% endif %}">
                <a class="nav-link" href="{% url 'car_rental:add_car' %}">Add Car</a>
        </li>
    {% endif %}
{% endif %}
    </ul>
    <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if url_name == 'login' %}active{% endif %}">
                <a class="nav-link" href="{% url 'car_rental:login' %}">Login</a>
            </li>

            <li class="nav-item {% if url_name == 'signup' %}active{% endif %}">
                <a class="nav-link" href="{% url 'car_rental:signup' %}">Sign up</a>
            </li>
    {% if not user.is_anonymous %}
            <li class="nav-item">
                <a class="nav-link btn btn-info" style="color: white;font-size: 18px;" href="{% url 'car_rental:logout' %}">Logout</a>
            </li>
    {% endif %}
    </ul>
    {% endwith %}
    </div>
</nav>