{% extends 'car_rental/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load crispy_forms_tags %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'car_rental/stylesheets/car_detail.css' %}">
{% endblock %}

{% block title %} Add a Car {% endblock %}

{% block content %}
    <div class="container" align="center">
        <h1>Add a new car</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset style="width: 50%;" align="left">
                <legend align="center">Enter the following information:</legend>
                {{ form|crispy }}
                <input type="submit" class="btn btn-info" value="Create" style="width: 50%">
            </fieldset>
        </form>
    </div>
{% endblock %}