{% extends 'car_rental/base.html' %}
{% load static %}

{% block title %} Cars {% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'car_rental/stylesheets/car_list.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>
{% if user.is_staff %}
   Your Cars
{% else %}
    Available Cars
{% endif %}
    </h1>

{% if cars %}
<table class="table table-striped table-hover">

    <thead class="thead-dark">
    <tr class="table_head" style="background: darkcyan;">
    <td>#</td>
    <td>Model</td>
    <td>
{% if user.is_staff %}
   Status
{% else %}
    Price (per hour)
{% endif %}
    </td>
    <td>
{% if user.is_staff %}
    ID
{% else %}
    Exhibition
{% endif %}
    </td>
    </tr>
    </thead>

{% for car in cars %}
    <tr>
    <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'car_rental:car' car.id %}">{{ car.car_type }}</a></td>
    <td>
{% if user.is_staff %}
    {% if car.is_rented %}
        <span style="color: darkred">rented</span>
    {% else %}
        <span style="color: darkgreen">free</span>
    {% endif %}
{% else %}
    {{ car.price_per_hour }}
{% endif %}
    </td>
    <td>
{% if user.is_staff %}
    {{ car.id }}
{% else %}
    {{ car.owner.name }}
{% endif %}
    </td>
    </tr>
{% endfor %}
{% else %}

{% if user.is_staff %}
        <div class="alert alert-danger"><strong>Sorry!</strong> You have no cars! </div>
{% else %}
        <div class="alert alert-danger"><strong>Sorry!</strong> There are no available cars for you! </div>
{% endif %}

{% endif %}
</table>
</div>
{% endblock %}