{% extends 'car_rental/base.html' %}
{% load static %}

{% block title %} Car Details {% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'car_rental/stylesheets/car_detail.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Car number {{ car.id }}</h1>
{% if car.owner != user.staff.exhibition %}
    {% if car.is_rented %}
        {% if car.renter != user %}
        <div style="margin-top: 10px" class="alert alert-danger">
            <strong>This car is rented!</strong>
        </div>
        {% else %}
        <div style="margin-top: 10px" class="alert alert-info">
            <strong>This car is rented by you!</strong>
        </div>
        {% endif %}

    {% else %}
        {% if not car.needs_repair %}
        <div style="margin-top: 10px" class="alert alert-success">
            <strong>This car is free to rent!</strong>
        </div>
        {% endif%}
    {% endif %}
{% endif %}
{% if car.needs_repair %}
       <div style="margin-top: 10px" class="alert alert-danger">
            <strong>This car needs repair!</strong>
        </div>
{% endif %}
        <img src="{{ car.image.url }}" />
        <table class="table table-striped table-hover info-table">
            <tr>
                <td>Model</td>
                <td>{{ car.car_type }}</td>
            </tr>
            <tr>
                <td>Plate</td>
                <td>{{ car.plate }}</td>
            </tr>
            {% if car.owner != user.staff.exhibition %}
            <tr>
                <td>Exhibition</td>
                <td>{{ car.owner.name }}</td>
            </tr>
            {% else %}
            <tr>
                <td>Status</td>
                <td>
                    {% if car.is_rented %} rented {% else %} free {% endif %}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>Price (per hour)</td>
                <td>{{ car.price_per_hour }}</td>
            </tr>
            {% if car.is_rented %}
            {% if car.owner == user.staff.exhibition or car.renter == user %}
            <tr>
                <td>It is rented from:</td>
                <td>{{ car.rent_start_time }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>It is rented till:</td>
                <td>{{ car.rent_end_time }}</td>
            </tr>
            {% if car.owner == user.staff.exhibition %}
            <tr>
                <td>Renter</td>
                <td>{{ car.renter.username }}</td>
            </tr>
            {% endif %}
            {% endif %}
        </table>
{% if user.is_anonymous %}
    <div class="alert alert-warning"> <strong>Login to continue!</strong></div>
{% else %}
        {% if not car.is_rented and car.owner != user.staff.exhibition and not car.needs_repair%}
        <form action="{% url 'car_rental:rent_request' car.id %}" method="post">
        {% csrf_token %}
        <fieldset >
        <legend>Want to rent this car?</legend>
            <div class="form-error">
                 {% if error_message %}
                    {{ error_message }}
                 {% endif %}
            </div>
            <table class="table form-table" >
                <tr>
                    <td>
                        <label for="rent_start_time">From:</label>
                    </td>
                    <td>
                        <input required id="rent_start_time" name="rent_start_time" type="datetime-local">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="rent_end_time">Until:</label>
                    </td>
                    <td>
                        <input required id="rent_end_time" name="rent_end_time" type="datetime-local">
                    </td>
                </tr>
            </table>

        <input class="btn btn-info" type="submit" value="Submit Request">
        </fieldset>
        </form>
    {% endif %}
{% endif %}
    {% if not car.is_rented and car.owner == user.staff.exhibition%}
        <a class="btn btn-info" href="{% url 'car_rental:edit_car' car.id %}" role="button" style="width:19%">Change Price</a>
        <a class="btn btn-info" href="{% url 'car_rental:delete_car' car.id %}" role="button" style="width:19%">Remove</a>
    {% endif %}
    {%if car.owner == user.staff.exhibition %}
        <a class="btn btn-info" href="{% url 'car_rental:needs_repair' car.id %}" role="button" style="width:19%">Needs Repair?</a>
    {% endif %}

    {%if car.renter == user and car.needs_repair %}
        <a class="btn btn-info" href="{% url 'car_rental:needs_repair' car.id %}" role="button" style="width:19%">Confirm it needs repair</a>
    {% endif %}
</div>
{% endblock %}