{% extends 'car_rental/base.html' %}
{% load static %}

{% block title %} Car Rental {% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'car_rental/stylesheets/home.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <h2>Wellcome to Car Rental Application!</h2>
    <img src="{% static 'car_rental/images/car_rental.jpg' %}" alt="car rental" id="main_img">
    <br>
<p>
    Rent other's cars and rent your car to others easily!
</p>
</div>
{% endblock %}