{% extends 'car_rental/base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'car_rental/stylesheets/login_form.css' %}">
{% endblock %}

{% block content %}
    <div align="center">
<form method="post" action="{% url 'car_rental:login' %}" >
    {% csrf_token %}
            <legend>Login Information</legend>
            {{ form }}
            <input type="submit" value="Login">
</form>
    </div>
{% endblock %}