{% extends 'car_rental/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Your Requests{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'car_rental/stylesheets/request_list.css' %}">
{% endblock%}

{% block content %}
<div class="container">

<h1>Your Requests</h1>
{% if error_message %}
    <div class="alert alert-danger" ><strong>{{ error_message}}</strong></div>
{% endif %}

{%if  user.is_staff %}
    {% if requests %}
        <div class="alert alert-info"> Please accept or reject these requests:</div>
        <form action="{% url 'car_rental:answer_requests' %}" method="post">
        {% csrf_token %}
        <table class="table  table-striped table-hover">
        <thead>
        <tr>
            <td>#</td>
            <td>Model</td>
            <td>Plate Number</td>
            <td>Requester</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Income</td>
            <td>Take it?</td>
        </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'car_rental:car' request.car.id %}">
                        {{ request.car.car_type }}
                    </a>
                </td>
                <td>{{ request.car.plate }}</td>
                <td>
                    <a href="{% url 'car_rental:user_info' request.requester.id %}">
                        {{ request.requester.username }}
                    </a>
                </td>
                <td>{{ request.rent_start_time }}</td>
                <td>{{ request.rent_end_time }}</td>
                <td>{{ request.get_price }}</td>
                <td>
                    <label for="yes{{ forloop.counter }}">Yes</label>
                    <input type="radio" id="yes{{ forloop.counter }}" name="{{ request.id }}" value="yes">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="no{{ forloop.counter }}">No</label>
                    <input type="radio" id="no{{ forloop.counter }}" name="{{ request.id }}" value="no">
                </td>
            </tr>
         {% endfor %}
        </tbody>
        </table>
        <input value="Confirm" type="submit" class="btn btn-info">
        </form>
    {% else %}
        <div class="alert alert-danger"><strong>No Requests.</strong></div>
    {% endif %}
{% else %}
    {{ filter.form.media }}
    <form action="" method="get" style="margin-bottom: 10px" class="form-inline">
    {{ filter.form|crispy }}
        <input type="submit" value="search" class="btn btn-info"/>
    </form>
    {% if requests %}
        <table class="table table-striped table-hover">
        <thead>
        <tr>
            <td>#</td>
            <td>Model</td>
            <td>Owner</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Price</td>
            <td>status</td>
        </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    {% if request.car %}
                    <a href="{% url 'car_rental:car' request.car.id %}">{{ request.car.car_type }}</a>
                    {% else %}
                    Deleted Car
                    {% endif %}
                </td>
                <td>{{ request.car.owner.name }}</td>
                <td>{{ request.rent_start_time }}</td>
                <td>{{ request.rent_end_time }}</td>
                <td>{{ request.get_price }}</td>
            {% if request.has_result %}
                {% if request.is_accepted %}
                    <td style="color: darkgreen">Accepted</td>
                {% else %}
                    <td style="color: darkred">Rejected</td>
                {% endif %}
            {% else %}
                <td>Not determined yet</td>
            {% endif %}
            </tr>
         {% endfor %}
        </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger"><strong>No Requests.</strong></div>
    {% endif %}

{% endif %}
</div>
{% endblock %}