{% extends 'car_rental/base.html' %}
{% load django_tables2 %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load crispy_forms_tags%}

{% block title %} Your Request {% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'car_rental/stylesheets/table_style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Your Requests</h1>
{{ filter.form.media }}
    <form action="" method="get" style="margin-bottom: 10px" class="form-inline">
        {{ filter.form|crispy }}
        <input type="submit" value="search" class="btn btn-info"/>
    </form>

{% if requests %}
    {% render_table table %}
{% else %}
    <div class="alert alert-danger">No Requests.</div>
{% endif %}
</div>
{% endblock %}